body{
    background-color: rgb(135, 162, 171);
    color:white;
    font: 200 20px 'Poppins', sans-serif; /*font-weight, font-size, font-family*/
    padding-left: 50px;
}

main{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.headerflex{
    flex-direction: row;
}

footer{
    display: flex;
    align-items: center;
    gap: 20px;
}

h4{
    text-align: center;
}

#imagen{
    margin-right: 0;
}

#Lateral_derecho{
    background-color: gray;
    margin-left: auto;
    padding: 10px;
    border-radius: 14px;
    font-size: 20px;
}

#redes{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    right: 10px;
}

#redes img{
    width: 30px;
    height: 30px;
}